/* Navbar Styles */
#Navbar {
    display: flex;
    flex-direction: row;
    padding: 2rem 4rem;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: relative;
    font-family: 'poppins';
}

.Navbar_logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Navbar_navlinks {
    flex: 2;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: flex-end;
    align-items: center;
}

.Navbar_navlinks a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.Navbar_navlinks a:hover {
    color: #a50045
}

.Menu_navlinks {
    background-color: #a50045;
    padding-top: 20px;
    width: 200px;
    height: 100vh;
    gap: 1rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50px;
    left: 0;
    transition: left 0.3s ease;
}

.border-help {
    height: 5px;
    background-color: #a50045;
    margin: 0rem 3rem;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    #Navbar {
        padding: 1.5rem 3rem;
    }

    .Navbar_navlinks {
        gap: 1rem;
    }
}

@media (max-width: 768px) {
    #Navbar {
        padding: 1rem 2rem;
    }

    .Navbar_navlinks {
        gap: 0.5rem;
        display: none;
    }

    .Navbar_logo {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    #Navbar {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 1rem;
    }

    .Navbar_logo {
        justify-content: center;
        margin-bottom: 0rem;
        margin-top: 1rem;
    }

    .Navbar_navlinks {
        display: none;
    }

    .border-help {
        margin: 0.5rem 1rem;
    }
}

@media (max-width: 480px) {
    .Navbar_navlinks {
        display: none;
    }

    .Navbar_navlinks.active {
        display: flex;
    }
}